<html>
    <%- include('layout/head.ejs') %>
    <body ng-app="blogApp" ng-controller="blogController">
        <%- include('layout/nav.ejs') %>
        <%- include('layout/header.ejs') %>
        <%- include('layout/link.ejs') %>
        <div class="judul">Investor Institusi Berminat Koleksi Bitcoin, Kripto Naik Hari Ini</div>
        <div class="width_70">
            <div class="Berita">
                <img src="assets/img/bitcoin1.jpeg" alt="gambar1">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui distinctio eos alias pariatur. Repellat cumque officia nemo quas voluptatibus quaerat eius magni, adipisci pariatur sed sapiente dolorum sequi vero totam at quis accusamus vitae saepe earum. Culpa blanditiis ipsum asperiores incidunt. A ullam fugit quia iusto, et culpa! Qui optio repellat atque nobis eius nisi aspernatur, placeat officiis sit ipsum commodi deserunt, non magnam in fuga perspiciatis officia porro a modi rerum error hic dolorum delectus beatae. Nulla maiores ratione amet minima. Voluptatem cupiditate aspernatur in. Fugiat expedita totam aliquam tenetur nulla officia necessitatibus iste odit natus debitis doloribus facilis, eius veniam. Vel alias culpa vero modi ex minima sed provident, deserunt aliquam reiciendis nulla aspernatur aut consequuntur dolor deleniti nam similique officia quo. Illum porro maxime sit perferendis et excepturi consequatur numquam hic facere, aliquid tenetur consequuntur est eligendi corporis deserunt doloribus non impedit, nostrum inventore amet aspernatur quia rem blanditiis. Voluptates libero consequatur suscipit nihil doloribus aliquid nostrum, quibusdam accusantium adipisci facilis pariatur iure fugiat autem officia dicta expedita ipsa ea eos exercitationem. Consequuntur quas ratione assumenda similique. Sed laboriosam assumenda, aliquam rem obcaecati similique aliquid quidem qui voluptates numquam nisi corrupti et dolor ullam itaque id voluptatibus illum laborum architecto perferendis earum accusantium omnis incidunt aperiam. Dicta sunt nostrum necessitatibus quisquam culpa suscipit ipsum ipsam aut, illo blanditiis eum repellat id fuga cupiditate et quibusdam enim in ea soluta quod sit rerum! Quam reiciendis amet ab dolores nostrum alias similique ea nobis, autem aliquid est aliquam atque.</p>
            <br>
            </div>
            <div class="title">
                <p><b>Performa Kripto (4/2/2024)</b></p>
            </div>
            <div class="Berita">
                <img src="assets/img/bitcoin2.png" alt="Gambar2">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In reiciendis officia, maiores laborum necessitatibus quod, aspernatur iste error minus, at quisquam voluptas saepe pariatur repudiandae distinctio. Ea, doloremque. Temporibus quaerat similique ipsum eveniet nam, harum facilis mollitia omnis doloribus nesciunt animi ad consequatur eum vitae dolores sapiente quis maiores saepe perferendis accusantium. Molestias magni consectetur, voluptatem incidunt delectus reiciendis quidem, vero praesentium, corporis laborum architecto a vitae laudantium quasi excepturi consequuntur. Tenetur incidunt eaque nostrum illo culpa perspiciatis asperiores odio omnis voluptates debitis praesentium deleniti voluptas aliquid, impedit tempora, voluptatem sit amet dolorum quibusdam a maiores itaque ipsam. Ullam possimus quas ipsum cumque. Totam temporibus libero magni rerum tempore itaque harum odit laborum nulla sapiente, error dicta officiis, aperiam iste dolores veritatis necessitatibus autem magnam animi culpa reiciendis minus perspiciatis! Enim, officia dolorem voluptatibus pariatur voluptate ratione perferendis numquam doloribus optio voluptas possimus eum ex quaerat blanditiis impedit esse necessitatibus debitis nisi. Aliquam obcaecati distinctio vero cupiditate quidem atque est, nam asperiores necessitatibus ex quas natus odio ullam alias maxime fugit illo repellendus dolorem voluptates, libero dicta beatae provident? Dolorum, commodi. Quaerat cupiditate expedita cumque, cum eius in alias nihil doloremque voluptas. Rerum ratione atque illo id sint molestias, vitae quasi quis iure error fugiat laudantium perferendis, eligendi animi, sunt voluptates hic cum veniam distinctio? Excepturi pariatur et distinctio accusamus saepe unde beatae aspernatur magnam voluptate est veniam doloremque molestias tenetur, maiores natus quam laboriosam, minus laborum doloribus. Eum suscipit magni, libero dicta soluta eaque ab et quos quam unde facere voluptatem temporibus blanditiis, totam dolorem accusamus, labore sequi doloribus non illum! Dolore doloremque nam eligendi recusandae inventore, officia libero laborum quia consectetur in alias placeat nemo doloribus id minima asperiores, similique, nesciunt unde accusamus. Aperiam totam libero dolore, recusandae adipisci assumenda asperiores, voluptatem debitis consequatur cupiditate numquam reiciendis fuga nobis doloribus! Amet qui animi vitae provident optio pariatur ullam incidunt aspernatur doloribus dicta adipisci officiis voluptatum veritatis, dignissimos fuga reprehenderit magni corporis neque eius quo hic! Quibusdam quaerat praesentium sapiente voluptates ducimus tempora voluptatum a! Eum a incidunt modi, totam dolore possimus earum enim non eveniet corporis ab! A ea nisi dolore vero eaque aperiam quibusdam, error odit harum dolor autem beatae culpa quidem velit, ipsum veritatis soluta ipsa laudantium iure, molestiae itaque similique quaerat nulla. Minima totam enim illo blanditiis mollitia deleniti perspiciatis quis incidunt eaque laboriosam iste eius autem aliquid vero voluptate eum, culpa tempora neque saepe laudantium consequuntur nihil vitae sequi! Dolorum voluptatum suscipit magnam laborum nulla. Omnis rem consequatur necessitatibus perspiciatis qui. Sunt praesentium animi dolore quaerat blanditiis? Eaque quasi, magni iusto et laudantium eligendi consequatur praesentium perferendis ab optio ullam velit adipisci, totam temporibus neque commodi iure recusandae numquam. Fugiat et, quia soluta cumque in voluptatibus voluptate, facere, nostrum dicta omnis dolores quod temporibus fugit ex vel animi maxime laboriosam eveniet? Adipisci, quas. Expedita omnis dicta iure quaerat autem consectetur tempora? Hic, quasi provident. Facilis minus sapiente, impedit dolorum illo, explicabo est, saepe facere soluta nulla provident. Libero sequi delectus, repudiandae eum vitae dolorum.</p>
            <br>
            </div>
            <div class="Berita">
                <img src="assets/img/bitcoin3.png" alt="Gambar3">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa possimus pariatur facere asperiores laborum repellendus, sed voluptatum assumenda iusto. Consequuntur eum suscipit illum in beatae laborum nihil ipsa labore cumque ipsam quis ex exercitationem molestias, dolor, cum quisquam libero! Blanditiis voluptates dolorem consectetur impedit ratione temporibus voluptatem! Consectetur, dolorem recusandae? Praesentium fugit magni velit dolorum et, sed culpa eveniet adipisci aliquid inventore dicta blanditiis ipsum provident hic dolor tempore? Non harum aspernatur dolores debitis? Ratione sapiente quisquam eum atque expedita laborum aspernatur repellendus sunt veritatis, error facere nam eos. Ipsum repudiandae id minima voluptas ratione aliquam molestias quisquam quaerat soluta corrupti rerum aperiam, pariatur velit maxime dolorum adipisci cum obcaecati illum? Soluta quas quisquam consectetur nulla rem laudantium temporibus a sequi aspernatur dignissimos! Quisquam at quaerat dolorum voluptas adipisci, rerum quas molestiae in suscipit. Non vitae, labore impedit ullam esse rerum ex quam voluptates qui. Id dolorem quos magni soluta, non quis sequi doloremque ipsum ea. Aut, obcaecati. Provident impedit, earum incidunt ex sit fugit dolor? Nisi commodi mollitia id, in quos eveniet vitae sit veniam dolorum. Iure ab dolorum pariatur animi expedita corrupti non tenetur quasi quod accusantium. Odio blanditiis esse ea doloribus, officiis, nisi tenetur inventore sunt animi sit laudantium facilis totam molestias! Impedit corporis recusandae consequatur nisi esse natus, hic rerum? Tenetur hic veniam in voluptatibus, blanditiis harum tempora aperiam suscipit nihil voluptate. Quo harum incidunt, dolores nihil quidem explicabo commodi nostrum dolore? Modi ex minus labore vel accusamus inventore! Tenetur, exercitationem veritatis repellendus quae, aliquid odit a neque sint et alias, quas eligendi amet. Corporis molestias, doloribus fuga, voluptates eius commodi tempora et sapiente illum veniam temporibus error, impedit ipsum eos. Omnis laudantium maiores aperiam veniam aliquam asperiores consectetur molestiae ad quisquam fugiat, quidem quaerat dolores eum laboriosam necessitatibus voluptas doloribus debitis deserunt voluptatem voluptatibus repudiandae neque voluptatum. Tempore eaque iure quis, quae enim molestias perferendis expedita voluptatem beatae amet, quidem cum. Excepturi consequatur blanditiis ab deserunt totam, veniam quas iste voluptatum fuga reiciendis veritatis maiores nesciunt, aliquid distinctio accusamus saepe, voluptatem quibusdam maxime ex. Dicta optio similique cumque? Nam blanditiis nostrum dicta iure asperiores debitis, explicabo qui labore laborum cum, doloribus cumque? Eius voluptates molestias exercitationem reiciendis aspernatur assumenda? Expedita labore optio mollitia corporis atque minima quis debitis obcaecati a explicabo facere voluptatibus dolorum nemo nulla quaerat similique ipsa, quod iure consequuntur cupiditate ipsam soluta beatae voluptatem. Cupiditate autem, alias dicta similique perferendis necessitatibus magni nobis minus enim quisquam aut deleniti repellat a consequuntur unde sequi rem quidem adipisci. Reiciendis doloribus molestiae facere incidunt dolor id nemo quasi at cupiditate, eius harum totam similique, quaerat quae hic obcaecati. Vero, illo animi ducimus maxime in qui tempora repudiandae molestias blanditiis quis. Soluta neque, vero voluptate sit dignissimos inventore sequi accusantium eius libero magni quaerat dolor harum error iure nihil nostrum saepe voluptatibus culpa eveniet? Est nulla eaque tenetur autem repellendus eos, a nostrum. Cum delectus consectetur inventore doloribus harum aperiam amet ad? Officia illum cupiditate perferendis deserunt unde dicta eligendi repellendus nihil quo? Repudiandae, qui rerum!</p>
            <br>
            </div>
            <div class="comments-section">
                <h2>Komentar</h2>
                <div id="comments-container">
                    <!-- Komentar akan ditampilkan di sini -->
                </div>
                <textarea id="comment-input" placeholder="Silahkan Tulis Komentar Anda"></textarea>
                <button class="comment-button" onclick="postComment()">Post</button>
            </div>
        </div>

        <script>
            // Fungsi untuk mengirim komentar
            function postComment() {
                var commentInput = document.getElementById("comment-input");
                var comment = commentInput.value.trim(); // Mengambil teks komentar dan menghapus spasi di awal dan akhir
        
                if (comment !== "") {
                    var commentContainer = document.getElementById("comments-container");
        
                    // Membuat elemen untuk menampilkan komentar baru
                    var newCommentElement = document.createElement("div");
                    newCommentElement.classList.add("comment");
                    newCommentElement.innerText = comment;
        
                    // Menambahkan komentar baru ke dalam container komentar
                    commentContainer.appendChild(newCommentElement);
        
                    // Mengosongkan textarea setelah komentar diposting
                    commentInput.value = "";
        
                    // Opsional: Simpan komentar ke database atau penyimpanan lainnya
                } else {
                    alert("Please enter a comment before posting.");
                }
            }
        </script>
        
        <%- include('layout/script.ejs') %>
    </body>
</html>