<html>
    <%- include('layout/head.ejs') %>
    <body ng-app="blogApp" ng-controller="blogController">
        <%- include('layout/nav.ejs') %>
        <%- include('layout/header.ejs') %>
        <%- include('layout/link.ejs') %>
        <div class="judul">Peselancar Indonesia Rio Waida Lolos ke Olimpiade Paris 2024</div>
        <div class="container">
        <div class="width_70">
            <div class="Berita">
                <img src="assets/img/Peselancar.jpg" alt="gambar1">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, laborum minima? Quod, optio provident molestias quam id laboriosam nisi sit dolorum blanditiis minima voluptatum beatae perferendis necessitatibus, fuga praesentium debitis labore hic ipsa atque magnam. Commodi explicabo error soluta quidem maxime possimus neque eum assumenda nihil voluptates, saepe sed eaque voluptate alias ea repudiandae a placeat maiores enim omnis? Odit distinctio, excepturi magni nesciunt nostrum culpa, accusamus dicta sit corporis tempora voluptates omnis iusto. Odit ipsum dicta, commodi dolores ipsa architecto ab minima?  Enim, nostrum molestias autem incidunt veniam eaque animi temporibus maxime molestiae architecto libero, id suscipit fugiat totam rerum nihil ratione perspiciatis iusto iste et distinctio cumque vel. In possimus ea aliquam ab. </p>
            <br>
            </div>
        </div>
        </div>   
        <%- include('layout/script.ejs') %>
    </body>
</html>