<html>
    <%- include('layout/head.ejs') %>
    <body ng-app="blogApp" ng-controller="blogController">
        <%- include('layout/nav.ejs') %>
        <%- include('layout/header.ejs') %>
        <%- include('layout/link.ejs') %>
        <div class="judul">PLN Indonesia Power membangun ekosistem biomassa untuk cofiring PLTU</div>
        <div class="width_70">
            <div class="Berita">
                <img src="assets/img/pltu.jpg" alt="gambar1">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi cum quia inventore! Molestias animi voluptatum veritatis sint eaque laborum repellat, ipsa numquam eligendi, inventore quibusdam! Dolore, odio adipisci fuga non laboriosam aspernatur consectetur distinctio optio repellendus dignissimos magni quos, est vero iusto nisi. Quaerat ut a harum mollitia molestias repellat, expedita sapiente aliquid iste obcaecati! Ea, sed ut expedita quo repellat cupiditate id eius soluta possimus fugit excepturi unde eveniet ducimus velit. Autem vero voluptatum rerum sint saepe eveniet exercitationem minima omnis excepturi iste atque natus, tempora doloremque cumque labore alias ad? Fugiat esse eaque corrupti quas vitae saepe blanditiis vero aliquid, non velit? Suscipit illum saepe recusandae nesciunt accusamus tempore odio ex. Amet aliquam dolorem excepturi quia, et vel quisquam eos? Voluptatem eius quas inventore excepturi totam qui, cupiditate fugit aliquam facilis laudantium sint quis explicabo accusamus distinctio autem neque minima aliquid laborum quibusdam! Porro, eveniet esse doloremque, nihil vitae cumque mollitia dolorem nemo, suscipit quasi praesentium? Cumque labore delectus, tempora dignissimos asperiores error, distinctio nesciunt hic non reprehenderit culpa. Voluptate maiores molestiae tempora, delectus amet veniam dolor earum sapiente rerum aliquam pariatur aspernatur tenetur esse eligendi dolores debitis corporis unde quae eaque reprehenderit totam, et doloremque? Quas, quod nulla quis eum inventore est dolorem culpa dolor porro nihil voluptatum sed tempore cupiditate ut. Earum incidunt amet iure, pariatur ad perferendis quod debitis hic aperiam. Porro nam veniam perferendis consequuntur quae reprehenderit dolores? Rem accusantium tenetur ad? Aliquid nostrum voluptatem eligendi dicta, nemo earum ea. Obcaecati nemo architecto tempora et ea, perferendis sit praesentium a! Facilis praesentium delectus nihil optio. Laudantium tempora deleniti voluptates. Officiis delectus, laudantium sit culpa reprehenderit aperiam impedit voluptates! Tenetur officiis optio sed necessitatibus alias temporibus debitis consequatur qui iusto deserunt autem voluptas, facere fuga aspernatur est ut nemo blanditiis iure? Aut hic quam eaque veritatis repellat beatae delectus amet odit, in minus temporibus cum dolore consequuntur nemo cumque aspernatur corporis. Quos fugiat iste, eveniet accusamus praesentium, nihil explicabo sunt corporis soluta natus aspernatur nulla rem nesciunt quod voluptatem incidunt officiis quis commodi? Et, ipsum. Vitae magnam numquam ab eligendi asperiores repellat unde, minus consectetur exercitationem ex veritatis voluptatem atque quisquam dolorum aspernatur dolores obcaecati eius inventore molestiae natus iste explicabo ratione. Illum dolorum, sit doloribus fugit illo esse magnam asperiores enim tempora molestiae! Suscipit odit voluptate molestiae laboriosam assumenda mollitia a provident nihil nam maiores perspiciatis similique, error, aspernatur vitae modi voluptatibus nostrum officiis autem laudantium inventore voluptates non et voluptatum. Eum totam molestias voluptatum, pariatur veniam quia beatae numquam odio, dolore delectus similique. Dolor facere mollitia omnis adipisci odio nesciunt officia perferendis corrupti in ab nostrum deleniti necessitatibus quod sunt accusamus veritatis beatae sequi consequuntur ullam atque, error distinctio unde ad! Fugiat esse pariatur culpa facilis nobis accusamus harum reiciendis tempore atque a, quidem nam, veniam aspernatur, distinctio sit soluta minima aliquid animi doloremque consequatur labore molestias eius? Et hic quas quaerat assumenda nesciunt fugit magnam dolorum ipsa expedita atque molestias id delectus necessitatibus amet accusamus dicta provident, quisquam deleniti rem aliquid eos.</p>
            <br>
            </div>
            <div class="comments-section">
                <h2>Komentar</h2>
                <div id="comments-container">
                    <!-- Komentar akan ditampilkan di sini -->
                </div>
                <textarea id="comment-input" placeholder="Silahkan Tulis Komentar Anda"></textarea>
                <button class="comment-button" onclick="postComment()">Post</button>
            </div>
        </div>

        <script>
            // Fungsi untuk mengirim komentar
            function postComment() {
                var commentInput = document.getElementById("comment-input");
                var comment = commentInput.value.trim(); // Mengambil teks komentar dan menghapus spasi di awal dan akhir
        
                if (comment !== "") {
                    var commentContainer = document.getElementById("comments-container");
        
                    // Membuat elemen untuk menampilkan komentar baru
                    var newCommentElement = document.createElement("div");
                    newCommentElement.classList.add("comment");
                    newCommentElement.innerText = comment;
        
                    // Menambahkan komentar baru ke dalam container komentar
                    commentContainer.appendChild(newCommentElement);
        
                    // Mengosongkan textarea setelah komentar diposting
                    commentInput.value = "";
        
                    // Opsional: Simpan komentar ke database atau penyimpanan lainnya
                } else {
                    alert("Please enter a comment before posting.");
                }
            }
        </script>
        
        <%- include('layout/script.ejs') %>
    </body>
</html>