<html>
    <%- include('layout/head.ejs') %>
    <body ng-app="blogApp" ng-controller="blogController">
        <%- include('layout/nav.ejs') %>
        <%- include('layout/header.ejs') %>
        <%- include('layout/link.ejs') %>
        <div class="judul">Peselancar Indonesia Rio Waida Lolos ke Olimpiade Paris 2024</div>
        <div class="container">
        <div class="width_70">
            <div class="Berita">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut nihil aliquam consequuntur officia rem quam labore tempore iure, facilis deleniti laborum minus eius soluta delectus aperiam aliquid laboriosam magnam. Minima reprehenderit pariatur quis, eaque facilis similique? Facilis facere mollitia sit maxime unde ratione, similique, magnam debitis ut quod eveniet saepe omnis exercitationem ducimus porro alias dicta quidem cupiditate quis ab sequi. Recusandae non, provident odio tempore iste esse, reprehenderit veniam, quam perspiciatis voluptas eveniet aliquid? Explicabo, consectetur. Quod impedit ut atque magnam. Aspernatur, accusamus. Facilis, dolorem laudantium! Quasi at, ratione laborum fugiat ducimus temporibus dolores, facilis maiores ipsam dicta distinctio?</p>
                <img src="assets/img/Peselancar.jpg" alt="gambar1">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, laborum minima? Quod, optio provident molestias quam id laboriosam nisi sit dolorum blanditiis minima voluptatum beatae perferendis necessitatibus, fuga praesentium debitis labore hic ipsa atque magnam. Commodi explicabo error soluta quidem maxime possimus neque eum assumenda nihil voluptates, saepe sed eaque voluptate alias ea repudiandae a placeat maiores enim omnis? Odit distinctio, excepturi magni nesciunt nostrum culpa, accusamus dicta sit corporis tempora voluptates omnis iusto. Odit ipsum dicta, commodi dolores ipsa architecto ab minima?  Enim, nostrum molestias autem incidunt veniam eaque animi temporibus maxime molestiae architecto libero, id suscipit fugiat totam rerum nihil ratione perspiciatis iusto iste et distinctio cumque vel. In possimus ea aliquam ab. </p>
            <br>
            </div>
            <div class="comments-section">
                <h2>Komentar</h2>
                <div id="comments-container">
                    <!-- Komentar akan ditampilkan di sini -->
                </div>
                <textarea id="comment-input" placeholder="Silahkan Tulis Komentar Anda"></textarea>
                <button class="comment-button" onclick="postComment()">Post</button>
            </div>
        </div>

        <script>
            // Fungsi untuk mengirim komentar
            function postComment() {
                var commentInput = document.getElementById("comment-input");
                var comment = commentInput.value.trim(); // Mengambil teks komentar dan menghapus spasi di awal dan akhir
        
                if (comment !== "") {
                    var commentContainer = document.getElementById("comments-container");
        
                    // Membuat elemen untuk menampilkan komentar baru
                    var newCommentElement = document.createElement("div");
                    newCommentElement.classList.add("comment");
                    newCommentElement.innerText = comment;
        
                    // Menambahkan komentar baru ke dalam container komentar
                    commentContainer.appendChild(newCommentElement);
        
                    // Mengosongkan textarea setelah komentar diposting
                    commentInput.value = "";
        
                    // Opsional: Simpan komentar ke database atau penyimpanan lainnya
                } else {
                    alert("Please enter a comment before posting.");
                }
            }
        </script>

        <%- include('layout/script.ejs') %>
    </body>
</html>