<html>
    <%- include('layout/head.ejs') %>
    <body ng-app="blogApp" ng-controller="blogController">
        <%- include('layout/nav.ejs') %>
        <%- include('layout/header.ejs') %>
        <%- include('layout/link.ejs') %>
        <div class="judul">Bandara Sepinggan-IKN Bakal Tersambung Tol, Ini Progresnya</div>
        <div class="width_70">
            <div class="Berita">
                <img src="assets/img/Progress_bandara.jpg" alt="gambar1">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi cum quia inventore! Molestias animi voluptatum veritatis sint eaque laborum repellat, ipsa numquam eligendi, inventore quibusdam! Dolore, odio adipisci fuga non laboriosam aspernatur consectetur distinctio optio repellendus dignissimos magni quos, est vero iusto nisi. Quaerat ut a harum mollitia molestias repellat, expedita sapiente aliquid iste obcaecati! Ea, sed ut expedita quo repellat cupiditate id eius soluta possimus fugit excepturi unde eveniet ducimus velit. Autem vero voluptatum rerum sint saepe eveniet exercitationem minima omnis excepturi iste atque natus, tempora doloremque cumque labore alias ad? Fugiat esse eaque corrupti quas vitae saepe blanditiis vero aliquid, non velit? Suscipit illum saepe recusandae nesciunt accusamus tempore odio ex. Amet aliquam dolorem excepturi quia, et vel quisquam eos? Voluptatem eius quas inventore excepturi totam qui, cupiditate fugit aliquam facilis laudantium sint quis explicabo accusamus distinctio autem neque minima aliquid laborum quibusdam! Porro, eveniet esse doloremque, nihil vitae cumque mollitia dolorem nemo, suscipit quasi praesentium? Cumque labore delectus, tempora dignissimos asperiores error, distinctio nesciunt hic non reprehenderit culpa. Voluptate maiores molestiae tempora, delectus amet veniam dolor earum sapiente rerum aliquam pariatur aspernatur tenetur esse eligendi dolores debitis corporis unde quae eaque reprehenderit totam, et doloremque? Quas, quod nulla quis eum inventore</p>
            <br>
            </div>
            <div class="Berita">
                <img src="assets/img/bandar2.jpg" alt="Gambar2">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio expedita fugiat alias dolores quae officiis voluptatem, adipisci consectetur labore magnam in,aliquam numquam possimus aliquid quam earum, beatae quae reprehenderit. Ad quia vel a eius at sunt ipsam! Ut, provident? Voluptatem ullam unde odit debitis amet facere ut a pariatur iure maxime, perspiciatis laudantium ab repellendus? Dicta quaerat laboriosam excepturi voluptas sint dolorum quae eligendi, possimus ad dolorem tempora fuga nostrum corrupti amet optio maiores minima deleniti molestias, impedit inventore magnam! Dicta magnam pariatur voluptatum odio amet, nemo unde laborum blanditiis adipisci dolorem, placeat ducimus, saepe ullam modi corrupti odit! Minima, debitis tempora exercitationem veniam hic vero illum nobis quisquam doloribus optio dolores at fugiat pariatur doloremque rem possimus? Commodi voluptates dolore inventore temporibus quis debitis. Quasi impedit non deleniti fugiat nisi vero. Sequi possimus quae sunt non omnis voluptatem, placeat quod, nisi deleniti error dolorem nostrum quam reiciendis? Praesentium cupiditate animi sed magnam omnis qui tenetur dolorum provident dolor maiores itaque numquam, ipsa at nesciunt vero saepe ullam ipsam modi repellat eaque possimus nulla veniam vitae autem. Laboriosam officia magnam neque nemo quam odio dolorum alias tempore? Dicta non commodi sint quidem recusandae provident enim ipsam esse voluptates perferendis quam dolores molestias et repellendus, explicabo, facilis culpa maiores. hic, consequuntur totam!</p>
            <br>
            </div>
            <div class="comments-section">
                <h2>Komentar</h2>
                <div id="comments-container">
                    <!-- Komentar akan ditampilkan di sini -->
                </div>
                <textarea id="comment-input" placeholder="Silahkan Tulis Komentar Anda"></textarea>
                <button class="comment-button" onclick="postComment()">Post</button>
            </div>
        </div>

        <script>
            // Fungsi untuk mengirim komentar
            function postComment() {
                var commentInput = document.getElementById("comment-input");
                var comment = commentInput.value.trim(); // Mengambil teks komentar dan menghapus spasi di awal dan akhir
        
                if (comment !== "") {
                    var commentContainer = document.getElementById("comments-container");
        
                    // Membuat elemen untuk menampilkan komentar baru
                    var newCommentElement = document.createElement("div");
                    newCommentElement.classList.add("comment");
                    newCommentElement.innerText = comment;
        
                    // Menambahkan komentar baru ke dalam container komentar
                    commentContainer.appendChild(newCommentElement);
        
                    // Mengosongkan textarea setelah komentar diposting
                    commentInput.value = "";
        
                    // Opsional: Simpan komentar ke database atau penyimpanan lainnya
                } else {
                    alert("Please enter a comment before posting.");
                }
            }
        </script>
        
        <%- include('layout/script.ejs') %>
    </body>
</html>